body{
    background-color: wheat;
    text-align: center;
    padding: auto;
}

.task {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: darkseagreen;
    padding: auto;
    font-size: larger;


}

input[type="text"]{
    padding: 10px;
 margin: 10px;
 width: 70%;
 border:1px solid ;
 border-radius: 10px;
}

button {
    margin: 15px;
    padding: 10px 16px;
    border: none;
    border-radius: 10px;
    background-color:greenyellow;
    cursor:pointer;
}
button:hover{
    background-color: chartreuse;
}

#name{
    text-align: left;

}

.contener{
    max-width: auto;
    margin: 0 auto; 
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

#taskList{
    margin: 15px;
    width: auto;
    height: auto;
    list-style: none;
    border: 5px;
    border-radius: 5px;
    padding: 0;
}
#taskfinList{
   margin: 15px;
    width: auto;
    height: auto;
    list-style: none;
    border: 5px;
    border-radius: 5px;
    padding: 0;
    
}
.listCont{
    display: flex;
}

li{
    padding: 5px;
    background-color: antiquewhite;
    margin-bottom: 5px;
    display: flex;
    justify-content:center;
    border-radius: 5px;
    width: auto;
    height: auto;
}

.ListCont{
    margin: 10px 10px ;
    border: 4px;
    width: auto;
    height: auto;
    background-color:aliceblue;
}
small{
    margin:5px;
  bottom: 0;
}

meter{
    width: 500px;
    height: 50px;
    overflow: hidden;
}

#exp_bar{
    width: 90%;
    height: 20px;
    overflow: hidden;
    background-color:#ccc;
    margin: 10px 10px;
    border-radius: 10px;
    position: relative;

}

#exp_fill{
    width: 0%;
    height: 100%;
    border-radius: 10px;
    background-color:aquamarine;
    position: absolute;
}

#pictu-area{ 
  margin:0 auto;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 10px;
  width: 600px;
  justify-content: center;
}

#styleitem{
    display: flex;
    justify-content: center; 
    align-items: start; 
    gap: 0 10px;
}

#styleedge{
    position: relative; 
    margin: 0 0px 30px 20px; 
    padding: .8em 1em; 
    border-radius: 40px; 
    background-color: #c2e4ff; 
    border: solid 2px #000000;
}
#stylechar{
    position: absolute; 
    left: 50%; 
    width: 13px; 
    height: 30px; 
    color: #ffffff00; 
    background-color: #000000; 
    clip-path: polygon(0% 50%, 100% 50%, 50% 100%);
    bottom: -15px;
}
#styleback{
    position: absolute; 
    left: 50%; 
    width: 13px; 
    height: 30px; 
    color: #ffffff00; 
    background-color: #c2e4ff; 
    clip-path: polygon(0% 50%, 100% 50%, 50% 100%); 
    bottom: -10px;
}
#backcommand{
    margin: 0 auto;
    width: 100px;
    height: 10px;
    background-color:beige;
    border-radius: 10px ;
    padding-bottom: 20px;
}
/* #backcommand:hover{
    background-color: blue;
} */
